<!DOCTYPE html>
<html>
  <head>
    <title>BucketList</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="site-header">
        <div class="content-wrapper">
          <div class="logo">
            <%= link_to root_path do  %>
              <span><i>My</i> Bucket List</span>
            <% end %>
          </div>
          <%= render(partial: "search_form")  %>
          <% if logged_in?  %>
            <%= render(partial: "authenticated_user_header")  %>
          <% else  %>
            <%= render(partial: "anonymous_user_header")  %>
          <% end %>

        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="site-footer">
      <div class="content-wrapper">
        <div class="logo logo--inverted footer__logo">
          <a href="/"><span><i>My</i> Bucket List</span></a>
        </div>
        <nav class="footer__navigation">
          <ul>
            <li><%= link_to("About", "#nolink")  %>  </li>
            <li><%= link_to("Style Guide", styleguide_path)  %>  </li>
          </ul>
        </nav>
        <% I18n.available_locales.each do |locale|  %>
          <%= link_to locale, url_for(locale: locale)  %>
        <% end %>
        <p class="copyright">&copy; EPFL 2020</p>
      </div>
    </footer>
  </body>
</html>
